#heading{ font-family: Space Grotesk;
            font-weight:bold}
#home{
        color:#0e247e;
        font-weight: 600; }
nav{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    padding: 2%;
     }
     button{
        color: #FAFAFA;
        padding: 9px 25px;
        background-color: #2549D3;
        border: none;
        border-bottom: 25px;
        line-height: 10px;}
.part1{
        display: flex;
        margin-left: 5%;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 5%;}
h2{color: #2549D3;
    font-size: x-large;}
    .type{
        color: #0e247e;}
    .desc{color: rgb(143, 136, 136);}
    .part2{
        display: flex;
        justify-content: space-around;
        max-width: 70%;
        margin-left: 15%;
        box-shadow: inset;
        border-style: solid;
        border-color: #FAFAFA;
        padding: 2%;}
    .part3 > h3{color: #2549D3;
            font-size: larger;
            margin-left: 12%;}
    .part3 > h4{color: #2549D3;
    text-align: center;
            font-size: larger;}
    .part3 > p{text-align: center;}
    h5{font-size: larger;
                font-weight: bold;}
    .part4 > p{
        font-size: 24px;
        color: rgb(143, 136, 136);}
    .part4{
        display: flex;
        justify-content: space-around;
        max-width: 85%;
        margin-left: 5%;}
     .box{
            border-style:solid;
            border-color: #FAFAFA;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 2%;}
    